<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>The Design Collective</title>


    <!-- Gridlex -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css">


    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400;1,600&display=swap" rel="stylesheet">  


    <!-- Fontawesome Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    <!-- Custom CSS Sheet -->
    <link rel="stylesheet" href="/style.css">


</head>


<!------- This is the main HTML ------->
<body>
    
    <!-- Header Nav Section -->
    <header class="grid-spaceBetween padded-2">
        <div class="col-7-middle_sm-12 center-sm">
            <h1>The Design Collective.</h1>
        </div>    
            <nav class="col-5-middle_sm-12 right center-sm">
                <a href="/about">About</a>
                <a href="/services">Services</a>
                <a href="/portfolio">Portfolio</a>
                <a href="/contact">Contact</a>
            </nav>
        </div>
    </header>


    {{content}}


    <!-- Footer Section -->
    <footer class="bg-brown white-text padded padded-b-0 grid-spaceBetween" id="contact">
        <div class="col-6_sm-12 padded-2 center-sm">
            <h2>The Design Collective</h2>
            <h3>Web Design & Development</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis vitae optio esse nam perspiciatis culpa similique assumenda minus quis distinctio tenetur eius odio nesciunt, modi vel maiores! Fugiat, fugit officia!</p>
        </div>
        <div class="col-4-bottom_sm-12 padded right center-sm">
            <h3>Let's connect</h3>
            <nav>
                <a href="#"><i class="fab fa-pinterest-p"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
            </nav>
        </div>
        <div class="col-12 center padded-1">
            <span class="xs-text">Copyright 2021</span>
        </div>
    </footer>



</body>
</html>